<section class="bg-black">
    <div class="py-8 px-4 mx-auto max-w-screen-2xl lg:py-16 lg:text-center text-left">
        <div class="flex flex-col lg:items-center lg:justify-center">	
            <h1 class="mb-12 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl">
                Let's Create an <span class="text-[#32fb00]">Amazing</span> <br><span class="text-[#32fb00]">Project Together!</span>
            </h1>
        </div>
    </div>
</section>