---
import Logo from "../assets/img/Logo.png";
---

<footer class="bg-black">
    <div class="mx-auto w-full max-w-screen-2xl p-4 py-6 lg:py-8">
        <div class="lg:flex justify-between lg:mt-14">
            <h1 class="text-white lg:text-6xl md:text-5xl text-4xl font-bold lg:mb-0 mb-5">Let's <span class="text-[#32fb00]">Connect</span> ᯤ</h1>
            <a href="https://linkedin.com/in/riovaldorahman" target="_blank">
                <button type="button" class="lg:px-8 lg:py-4 px-4 py-2 text-base font-bold text-center text-black bg-[#32fb00] hover:bg-[#57eb32] rounded-full">Let's Talk</button>
            </a>
        </div>
        <hr class="my-6 sm:mx-auto border-white border opacity-15 lg:my-8" />
        <div class="md:flex md:justify-between">
            <div class="mb-6 md:mb-0 lg:pr-[400px]">
                <a href="https://flowbite.com/" class="flex items-center mb-4">
                    <img src={Logo.src} class="h-8 me-3" alt="FlowBite Logo" />
                    <span class="self-center text-2xl font-extrabold whitespace-nowrap text-white">Kaze<span class="text-[#32fb00]">.</span></span>
                </a>
                <span class="text-white lg:text-xl text-md opacity-50 font-bold">Designer and programmers, a creative duo that connects hearts and minds. Design gives soul, while code gives movement to inspiration</span>
            </div>
            <div class="">
                <div>
                    <h2 class="mb-3 text-lg font-bold uppercase text-[#32fb00]">Contact</h2>
                    <ul class="text-gray-400 font-medium">
                        <li class="mb-4">
                            <a href="https://linkedin.com/in/riovaldorahman" class="hover:underline ">Linkedin</a>
                        </li>
                        <li class="mb-4">
                            <a href="https://instagram.com/ckckckcz" class="hover:underline">Instagram</a>
                        </li>
                        <li>
                            <a href="mailto:rriovld@gmail.com" class="hover:underline">Gmail</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<footer class="bgFooter">
    <div class="mx-auto w-full max-w-screen-2xl p-4 py-6 lg:py-6">
        <div class="">
            <span class="lg:text-lg text-sm sm:text-center text-black font-semibold">Copyright © 2024 Kaze Works. All Rights Reserved.
            </span>
        </div>
    </div>
</footer>
