<section class="relative overflow-hidden">
    <!-- Background hijau tua -->
    <div class="absolute -inset-x-2 -inset-y-2 bg-[#0f3405] -z-30 rotate-2"></div>
    <!-- Background hijau -->
    <div class="absolute inset-0 bg-[#32fb00] -z-20"></div>
    <div class="relative py-4 text-center lg:py-8">
        <div class="flex items-center lg:gap-12 gap-6 whitespace-nowrap animate-scroll">
            <span class="text-black lg:text-[35px] text-xl font-semibold">Front-End Developer</span>
            <span class="text-black lg:text-[35px] text-xl font-semibold">✦</span>
            <span class="text-black lg:text-[35px] text-xl font-semibold">UI/UX Designer</span>
            <span class="text-black lg:text-[35px] text-xl font-semibold">✦</span>
            <span class="text-black lg:text-[35px] text-xl font-semibold">Front-End Developer</span>
            <span class="text-black lg:text-[35px] text-xl font-semibold">✦</span>
            <span class="text-black lg:text-[35px] text-xl font-semibold">UI/UX Designer</span>
            <span class="text-black lg:text-[35px] text-xl font-semibold">✦</span>
            <span class="text-black lg:text-[35px] text-xl font-semibold">Front-End Developer</span>
            <span class="text-black lg:text-[35px] text-xl font-semibold">✦</span>
            <span class="text-black lg:text-[35px] text-xl font-semibold">UI/UX Designer</span>
            <span class="text-black lg:text-[35px] text-xl font-semibold">✦</span>
            <span class="text-black lg:text-[35px] text-xl font-semibold">Front-End Developer</span>
            <span class="text-black lg:text-[35px] text-xl font-semibold">✦</span>
            <span class="text-black lg:text-[35px] text-xl font-semibold">UI/UX Designer</span>
            <span class="text-black lg:text-[35px] text-xl font-semibold">✦</span>
        </div>
    </div>
</section>
