<section class="relative">
    <div class="absolute -inset-x-2 -inset-y-2 right-10 bg-[#0f3405] rotate-2 -z-30"></div>
    <div class="absolute inset-0 bg-[#32fb00] -z-20"></div>
    <section class="relative py-4 text-center lg:py-8 overflow-hidden">
        <div id="scroll-container" class="flex gap-12 whitespace-nowrap">

        </div>
    </section>
</section>
